/* *{ border: 1px solid red; } */
h1{
    padding:20px;
    text-decoration: none;
    text-align: center;
}


.container {
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%;
}
  
.image {
    width: 100%;
    height: auto;
}
  
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}
  
.container:hover .overlay {
    width: 100%;
    opacity: 80%;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

main{
    display: flex;
}

section{
    width: 100%;
    margin-top: 20px;
    margin-left: 5%;
}

.search{
    float: right;
}

.card-container{
    background-color: lightgray;
    padding: 20px;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 10px;
}

.card-info{
    display: flex;
    align-items: center;
}

.card-image{
    width: 100%;
    height: auto;
    max-width: 10vw;
}

.card-title{
    margin-bottom: 0;
    margin-left: 10px;
}


.myRating{
    margin-left: auto;
}

.results{
    margin: 20px;
}

.results-container{
    background-color: lightgray;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}




