<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Listably</h1>
        <p class="col-md-8 fs-4">Use Listably to keep track of movies and shows you're watching or even create your own
            list!</p>
    </div>
</div>

<div class="container-xl">
    <div class="row row-cols-2">
        <div class="col p-2">
            <div class="container">
                <img src="assets/sample-movie.jpg" alt="Movie" class="image">
                <div class="overlay">
                    <div class="col-lg text">Movies</div>
                </div>
            </div>
        </div>
        <div class="col p-2">
            <div class="container">
                <img src="assets/sample-tv.jpg" alt="TV" class="image">
                <div class="overlay">
                    <div class="col-lg text">TV Shows</div>
                </div>
            </div>
        </div>
        <div class="col p-2">
            <div class="container">
                <img src="assets/sample-anime.png" alt="Animation" class="image">
                <div class="overlay">
                    <div class="col-lg text">Animation</div>
                </div>
            </div>
        </div>
        <div class="col p-2">
            <div class="container">
                <img src="assets/sample-manga.jpg" alt="Comic" class="image">
                <div class="overlay">
                    <div class="col-lg text">Manga</div>
                </div>
            </div>
        </div>
    </div>
</div>