<div id="myModal" class="modal hide">
  <div class="modal-content">
    <div class="modal-header">
      <span id="modal-close" class="close">&times;</span>
      <h2>Error</h2>
    </div>
    <div class="modal-body">
      <p>Invalid Username or Password, please try again.</p>
    </div>
  </div>
</div>


<div class="container-user">
  <h2>Login</h2>

  <form class='loginform'>
    <div class="form-group">
      <label for="email">Email: </label>
      <input type="email" id="email" name="username" class="form-control form-control-sm login-input"
        placeholder="Enter Email" />
    </div>
    <div class="form-group">
      <label for="password">Password: </label>
      <input type="password" id="password" name="password" class="form-control form-control-sm login-input"
        placeholder="Enter Password" />
    </div>
    <div class="submit-button">
      <button type="submit" class="btn btn-primary btn-block">Login</button>
    </div>
  </form>
</div>

<div style="text-align: center;"> Don't have an account? <a href="/signup" style="color:blue;"> Sign up!</a></div>

<script src="/js/login.js"></script>