<div class="results">
    <h2>Top 25 Trending Movies</h2>
</div>
{{#each movies as |movie|}}
<div class="results-container">
    <div class="card-info">
        <img src = "https://image.tmdb.org/t/p/w200{{movie.poster_path}}" alt="Movie" class="card-image">
      
        <div class="card-title">{{movie.title}}({{movie.release_date}})</div>
       
        <div class="myRating">
        </div>
       
    {{> changeStatus }}

    </div>
</div>
{{/each}} 