<div class="results">
    <h2>Your search results for: query</h2>
</div>

<div class="results-container">
    <div class="card-info">
        <img src="assets/sample-tv.jpg" alt="TV" class="card-image">
        <div class="card-title">This is a sample TV show title (Year)</div>

        <div class="myRating">
            Add to my list:
        </div>

        <select class="changeStatus">
            <option value="0" selected="">Watching</option>
            <option value="2">Want to Watch</option>
            <option value="4">Complete</option>

        </select>
    </div>
</div>