<div class="results">
    <h2>Your search results:</h2>
</div>

{{#each tv as |tv|}}
<div class="results-container">
    <div class="card-info">
        <img src = "https://image.tmdb.org/t/p/w200{{tv.poster_path}}" alt="tv" class="card-image">
      
        <div class="title-date card-title">{{tv.name}}{{!-- ({{tv.first_air_date}}) --}}</div>

        <div class="description"> {{tv.overview}} </div>
       
       
        <div class="myRating">
        </div>
       
    {{> changeStatus }}

    </div>
</div>
{{/each}} 