<main>
    <aside>
        <div class="h-100 d-flex flex-column p-3 bg-light" style="width: 280px;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <span class="fs-4">My Lists</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="" class="nav-link link-dark" id="filter-all">
                        Show All
                    </a>
                </li>
                <li>
                    <a href="" class="nav-link link-dark" id="filter-movie">
                        Movies
                    </a>
                </li>
                <li>
                    <a href="" class="nav-link link-dark" id="filter-tv">
                        TV Shows
                    </a>
                </li>
            </ul>
            <hr>
        </div>
    </aside>

    <section>
        <div class="col row-cols-12">
            {{> userlist}}
        </div>

    </section>
</main>
<script src="/js/userFilter.js"></script>
<script src="/js/telephoneUser.js"></script>