<main>
    <aside>
        <div class="h-100 d-flex flex-column p-3 bg-light" style="width: 280px;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <span class="fs-4">My Lists</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link link-dark" aria-current="page">
                        Movies
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-dark">
                        TV Shows
                    </a>
                </li>
            </ul>
            <hr>
        </div>
    </aside>

    <section>
        <div class="col row-cols-12">
            <div class="card-container">
                <div class="card-info">
                    <img src="assets/sample-movie.jpg" alt="Movie" class="card-image">
                    <div class="card-title">This is a sample movie title (Year)</div>

                    <select class="myRating">
                        <option value="0">No Rating</option>
                        <option value="2">⭐</option>
                        <option value="4">⭐⭐</option>
                        <option value="6">⭐⭐⭐</option>
                        <option value="8">⭐⭐⭐⭐</option>
                        <option value="10">⭐⭐⭐⭐⭐</option>
                    </select>
                    <select class="changeStatus">
                        <option value="0" selected="">Watching/Reading</option>
                        <option value="2">Completed</option>
                        <option value="4">Want to Watch/Read</option>
                        <option value="6">Dropped</option>
                    </select>
                </div>
            </div>
            <div class="card-container">
                <div class="card-info">
                    <img src="assets/sample-movie.jpg" alt="Movie" class="card-image">
                    <div class="card-title">This is a sample movie title (Year)</div>

                    <select class="myRating">
                        <option value="0">No Rating</option>
                        <option value="2">⭐</option>
                        <option value="4">⭐⭐</option>
                        <option value="6">⭐⭐⭐</option>
                        <option value="8">⭐⭐⭐⭐</option>
                        <option value="10">⭐⭐⭐⭐⭐</option>
                    </select>
                    <select class="changeStatus">
                        <option value="0" selected="">Watching/Reading</option>
                        <option value="2">Want to Watch/Read</option>
                        <option value="4">Dropped</option>
                    </select>
                </div>
            </div>
        </div>
        </div>
    </section>
</main>