/* *{ border: 1px solid red; } */
h1{
    padding:20px;
    text-decoration: none;
}

a{
    text-decoration: none;
}

.fancy{
    font-size: 2rem;
    color: white;
    font-weight: bold;
}
.container {
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%;
}
  
.image {
    width: 100%;
    height: auto;
}
  
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}
  
.container:hover .overlay {
    width: 100%;
    opacity: 80%;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

main{
    display: flex;
}

section{
    width: 100%;
    margin-top: 20px;
    margin-left: 5%;
}

.search{
    width:30vw;
    margin-bottom: 0;
    padding-bottom: 0;
}

.card-container{
    background-color: lightgray;
    padding: 20px;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 10px;
}

.card-info{
    display: flex;
    align-items: center;
}

.card-image{
    width: 100%;
    height: auto;
    max-width: 10vw;
}

.title-date{
   margin-left: 5px; 
   padding-right: 10px;
   width: 15%;
}

.card-title{
    margin-bottom: 0;
    margin-left: 10px;
    font-size: 1.3rem;
    font-weight: bold;
}
.date{
    margin-left: 10px;
}

.description{
    width: 50%;
}

.myRating{
    margin-left: auto;
}

.results{
    margin: 20px;
}

.results-container{
    background-color: lightgray;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.error{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container-user{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    background-color: lightgray;
    margin-left: 30%;
    margin-right: 30%;
    padding: 50px;
    border-radius: 10px;
}

.container-user h2{
    padding-bottom: 20px;
}

.form-group{
    display: flex;
    justify-content: space-between;
    margin: 2px;
}

.form-group label{
    margin-right: 5px;
}

.submit-button{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.login{
    width: 10vw;
    margin-left: 10px;
}

.login-input{
    width: auto;
}

.search-dropdown{
    border-radius: 5px;
    background-color: transparent;
}

#search-button{
    border-radius: 5px;
    background-color: #2596be;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

